.coverage
coverage.xml
.idea/
.DS_Store/
**/.DS_Store
*.pyc
.vscode/
testing/gw-unit-reports
testing/gw-unit-reports-3
etc/
src/terms/
static/
venv/
.mypy_cache/
.dmypy.json
gw_py3_venv
vpn-service/package/**
gw-service/package/**
pytest.ini
*.egg-info
