# Testing artifacts
.coverage
.coverage**
.hypothesis
coverage.xml
testing/gw-unit-reports
testing/gw-unit-reports-3
pytest.ini

# Python bytecode files
*.egg-info
*.pyc

# Mypy files
.mypy_cache/

# Editor artifacts
.idea/
.vscode/

# OSX artifacts
.DS_Store

# Venv folders
venv/
venv2.7/
.direnv
.env
.envrc

# Artifacts for running gateway locally
/etc/
/static/
/versions/
/src/terms/
