# Testing artifacts
.coverage
.coverage**
.hypothesis
coverage.xml
testing/gw-unit-reports
testing/gw-unit-reports-3
pytest.ini
run-tests.sh

# IDE artifacts
.idea/

# OSX artifacts
.DS_Store/
**/.DS_Store

# Python bytecode files
*.pyc

# VS code artifacts
.vscode/

# Artifacts for running gateway locally
etc/
etc**
static/
**.db
**.db_BACKUP
versions**
versions/

# Terms
src/terms/

# Venv folders
venv/
venv2.7/
.direnv
.env
.envrc

# Mypy files
.mypy_cache/
.dmypy.json

# Package artifacts
*.egg-info

# Local scripts (makes it possible to add local bash scripts for easier development)
**ignore.sh
**ignore.py

# env file
.env_dev2_as_DUT
